.register_container {
  display: flex;
  border: solid black 1px;
  padding: 50px;
  justify-content: flex-end;
  background-color: rgb(223, 235, 223);
  margin: 25px;
  float: right;
  color: solid black;
  align-items: center;
}

.blue {
  background-color: rgb(35, 121, 28);
}

.landindP {
  position: relative;
  background: url("../../../../public/images/image1.jpg") no-repeat;
  background-size: cover;
  background-color: solid rgb(5, 5, 5);
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
